@font-face {
  font-family: 'OpenSans';
  src: url('../../lib/fonts/Open_Sans/OpenSans-Regular.ttf');
  font-size: 1em;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../../lib/fonts/Open_Sans/OpenSans-Light.ttf');
  font-size: 1em;
}

@font-face {
  font-family: 'OpenSans-Bold-Italic';
  src: url('../../lib/fonts/Open_Sans/OpenSans-BoldItalic.ttf');
  font-size: 1em;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../../lib/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-size: 1em;
}

header {
  width: 100%;
  height: 130px;
  background-color: rgba(94,41,154, 0.2);
  z-index: 2;
  position: relative;
}

header .header-black {
  margin-top: -20px;
  height: 40px;
  background-color: #000;
  color: #000;
}

header .container-logotipo {
  position: relative;
}

header #logotipo {
  position: absolute;
  height: 230px;
  margin-left: -20px;
  top: 10px;
  z-index: 3;
}

header .header-topo {
  width: 100%;
  height: 50px;
  position: absolute;
}

header .header-menu {
  margin-left: 62%;
  margin-top: 15px;
  position: absolute;
  z-index: 3;
}

header .header-copyright {
  position: relative;
  width: 100%;
  background-color: rgba(94,41,154, 0.2);
  font-family: 'OpenSans-Light';
  color: rgba(94,41,154, 0.9);
  margin-top: 50px;
  font-size: 12px;
}

header .pull-right {
  text-align: right;
  margin-right: 10px;
}

/* TEMPORARIO de TESTE */

header .header-teste {
  width: 100%;
  border: 1px;
  color: black;
  /* margin-left: 20%; */
  margin-top: 20px;
  height: 50px;
}

header .header-posicao-menu {
  text-align: right;
}

header .header-jnetto {
  text-align: right;
  font-family: 'OpenSans-Light';
  color: rgba(94,41,154, 0.9);
  font-size: 11px;
  margin-top: -35px;
}

/* FIM TEMPORARIO de TESTE */



header #frasetopo {
	display: block;
	color: #FFF;
  text-align: center;
	font-family: 'OpenSans-Bold-Italic';
}

section #corpo {
  width: 100%;
  font-family: 'OpenSans';
}

section #corpo h1 {
  color: rgba(94,41,154, 0.9);
  text-align: center;
}

section #corpo h3 {
  color: rgba(94,41,154, 0.9);
  margin-left: 200px;
}

section #corpo h5{
  color: #000;
  margin-left: 200px;
  font-family: 'OpenSans-Light';
}

section #AreaGrafico {
  width: 20%;
  height: 20%;
}

section td, th {
    border: 1px solid #4b5267;
    text-align: left;
    padding: 8px;
}

section tr:nth-child(even) {
    background-color: #dddddd;
}

section .panel-default {
  margin-left: 200px;
  width: 80%;
}

section .panel-heading {
  font-size: 16px;
  font-family: 'OpenSans-Bold';
}

section .panel-espaco-interno {
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
}

section .cabecalho-tabela {
  font-family: 'OpenSans-Bold';
  border: 1px solid #4b5267;
  font-size: 16px;
  text-align: center;
}

section .cabecalho-individual {
  border: 1px solid #4b5267;
  padding: 2px;
  text-align: center;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  border-top: 0;
}

section .cabecalho-tabela-funcionario {
  border: 1px solid #4b5267;
  padding: 2px;
  text-align: center;
  font-family: 'OpenSans-Bold';
  font-size: 26px;
  border-top: 0;
  color: rgba(94,41,154, 0.9);
}

section .cabecalho-tabela-funcionario-individual {
  border: 1px solid #4b5267;
  padding: 2px;
  text-align: center;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  border-top: 0;
  color: rgba(94,41,154, 0.9);
}

section .text-blue {
  color: rgba(47, 50, 238, 0.9);
}

section .text-green {
  color: rgba(42, 187, 5, 0.9);
}

section .text-red {
  color: rgba(187, 5, 33, 0.9);
}

section .text-bold {
  /* color: rgba(187, 5, 33, 0.9); */
  font-family: 'OpenSans-Bold';
  font-size: 14px;
}

section .cabecalho-vazio {
  border: 0;
}

section .cabecalho-ranking {
  border: 1px solid #4b5267;
  padding: 2px;
  text-align: center;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  border-top: 0;
}

section .cabecalho-ranking-result {
  border: 1px solid #4b5267;
  padding: 2px;
  text-align: center;
  font-family: 'OpenSans-Light';
  font-size: 12px;
  border-top: 0;
}

section .grafico {
  border: 1px solid #4b5267;
  text-align: center;
  padding: 2px;
  text-align: center;
  border-top: 0;
}
