<!DOCTYPE html>
<html>
	<head>
		<title>ACTAR - Survey da Área de Tecnologia</title>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../lib/Bootstrap/css/bootstrap.min.css">
		<script src="../lib/jQuery/jquery-3.2.1.min.js"></script>
		<script src="../lib/Bootstrap/js/bootstrap.min.js"></script>
		<!-- <script src="../lib/htmlBarGraph/html5-canvas-bar-graph.js"></script> -->
    <script src="../lib/ChartJS/Chart.min.js"></script>
    <link rel="stylesheet" href="../include/css/skills2.css">
	</head>
	<body>
    <section>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Checkpoint</strong></div>
        <div class="panel-body">
          <div class="panel-espaco-interno">
            <div class="row">
              <div class="col-md-12 cabecalho-tabela">Grafico</div>
            </div>
            <div class="row">
              <div class="col-md-4 cabecalho-individual">Pré-Vendas</div>
              <div class="col-md-4 cabecalho-individual">Delivery</div>
              <div class="col-md-4 cabecalho-individual">Suporte</div>
            </div>
            <div class="row">
              <div class="col-md-4 cabecalho-individual">
                <canvas id="myChart1" width="200" height="200"></canvas>
              </div>
              <div class="col-md-4 cabecalho-individual">
                <canvas id="myChart2" width="200" height="200"></canvas>
              </div>
              <div class="col-md-4 cabecalho-individual">
                <canvas id="myChart3" width="200" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>
<script>
  function criaGraph(grafico, valor) {
    document.write(valor);
    var myChart = new Chart(grafico, {
        type: 'bar',
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
            label: '# of Votes',
            //data: [12, 19, 3, 5, 2, 3],
            data: '[' . valor . ']',
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
              borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero:true
              }
            }]
          }
        }
    });
  }

var ctx = document.getElementById("myChart1").getContext('2d');
var plotaGrafico = criaGraph(ctx, "12, 19, 3, 5, 2, 3");

var ctx = document.getElementById("myChart2").getContext('2d');
var plotaGrafico = criaGraph(ctx);

var ctx = document.getElementById("myChart3").getContext('2d');
var plotaGrafico = criaGraph(ctx);
</script>
